.example {
  background: #f2f2f2;
}
.example .example__wrapper .example__title {
  font-family: Oswald;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}
.example .example__wrapper .example__text {
  font-family: ArialMT;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}
.example .example__wrapper .example__weight-days .weight-days__item {
  font-family: Oswald;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}
.example .example__wrapper .example__weight-days .weight-days__item span {
  font-family: ArialMT;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
}
