.programs .programs__wrapper .programs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.programs .programs__wrapper .programs__list .programs__item {
  background: #f2f2f2;
}
.programs .programs__wrapper .programs__list .programs__item .programs__title {
  font-family: Oswald;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}
.programs .programs__wrapper .programs__list .programs__item .programs__text {
  font-family: ArialMT;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}
.programs .programs__wrapper .programs__list .programs__item .programs__link {
  font-family: Oswald;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}
